<?xml version="1.0"?>
<robot name="audi_a2d2">
  <material name="gray">
    <color rgba="0 0 0.3 0.5"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="5.0 2.5 0.9"/>
      </geometry>
      <origin rpy="0 0 0" xyz="1 0 -0.3"/>
      <material name="gray"/>
    </visual>
    <visual>
      <geometry>
        <box size="3.2 2.5 0.6"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.25 0 0.45"/>
      <material name="gray"/>
    </visual>
  </link>

</robot>
