
<launch>
    <arg name="rate" default="1.0"/>

    <param name="/use_sim_time" value="true" />

    <node name="playbag" pkg="rosbag" type="play"
          args="--clock -r $(arg rate) $(arg bag_filename)" launch-prefix="bash -c 'sleep 2; $0 $@' " />

    <node name="rviz" pkg="rviz" type="rviz" required="true"
          args="-d $(find a2d2_ros_preparer)/rviz/a2d2_playback_view.rviz" />
</launch>
